.hero .container {
    display: grid;
    gap: 1.5rem;
}

.hero-subtitle {
    font-family: var(--second-font);
    font-size: 0.875rem;
}

.hero-title {
    font-size: 1.9rem;
    display: block;
}

.hero-title span {
    background: linear-gradient(90deg, #FFFFFF 80.05%, rgba(255, 255, 255, 0) 142.63%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 2.2rem;
    font-family: var(--second-font);
}

.hero-desc {
    font-size: 1.025rem;
    color: var(--text-col);
    padding-block: 10px 20px;
}

.hero button:hover {
    box-shadow: 0 0 10px var(--blue-gradient-2), 0 0 20px var(--blue-gradient-2), 0 0 30px var(--blue-gradient-2);
    transition: box-shadow 0.5s ease;
}

/*======= MEDIA QUERY =======*/
@media (min-width: 480px) {
    .hero .container {
        gap: 2rem;
    }

    .profile-pic {
        width: 390px;
        place-self: center;
    }

    .hero-subtitle {
        font-size: 0.938rem;
    }

    .hero-title {
        font-size: 2rem;
    }

    .hero-title span {
        font-size: 2.3rem;
    }

    .hero-desc {
        max-width: 370px;
    }
}

@media (min-width: 768px) {
    .hero .container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2.5rem;
    }

    .hero-content {
        order: -1;
    }

    .hero-title span {
        display: flex;
        width: max-content;
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .hero-subtitle {
        font-size: 1.125rem;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-title span {
        font-size: 3rem;
    }

    .hero-desc {
        max-width: 370px;
        font-size: 1rem;
    }
}

@media (min-width: 1280px) {
    .hero .container {
        gap: 2.5rem;
    }

    .hero-subtitle {
        font-size: 1.2rem;
    }

    .hero-title {
        font-size: 2.8rem;
    }

    .hero-title span {
        font-size: 3.5rem;
    }

    .hero-desc {
        max-width: 450px;
        font-size: 1.125rem;
    }

    .profile-pic {
        width: 400px;
    }
}

@media (min-width: 1440px) {
    .hero .container {
        gap: 3rem;
    }

    .hero-subtitle {
        font-size: 1.3rem;
    }

    .hero-title {
        font-size: 3rem;
    }

    .hero-title span {
        font-size: 3.8rem;
    }

    .hero-desc {
        max-width: 450px;
        font-size: 1.3rem;
    }

    .profile-pic {
        width: 450px;
    }
}