.back-on-top {
    position: fixed;
    font-size: 35px;
    color: var(--white-col);
    background: var(--blue-gradient-2);
    right: -50%;
    width: max-content;
    padding: 5px;
    border-radius: 50%;
    bottom: 4.5%;
    cursor: pointer;
}

.back-on-top.visible {
    right: 3%;
    transition: right 0.3s ease;
}

.back-on-top.visible:is(:hover, :focus) {
    transform: translateY(-5px);
    transition: transform 0.5s ease;
}